.rrze-research-data-form {
  display: grid;
  grid-template-columns: 200px 300px;
  gap: 12px 16px;
  align-items: center;

  p {
    grid-column: 1 / -1;
  }
}

/** Help text **/
.rrze-research-data-help {
  font-size: 12px;
  color: #757575;
  margin-top: -5px;

  code {
    font-size: 11px;
    background: #f0f0f0;
    padding: 1px 4px;
    border-radius: 3px;
  }
}

.rrze-research-data-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 22px;
    height: 22px;
    fill: #cc0000;
  }
}



