.rrze-research-data-form {
  display: grid;
  grid-template-columns: 120px 300px;
  gap: 12px 16px;
  align-items: center;
}

.wp-block-research-table {
  width: 100%;

  td:first-child,
  th:first-child {
    width: 100%;
  }

  td:last-child,
  th:last-child {
    white-space: nowrap;
  }
}
