.rrze-research-data-form {
  display: grid;
  grid-template-columns: 120px 300px;
  gap: 12px 16px;
  align-items: center;
}

.wp-block-research-table {
  width: 100%;
  table-layout: fixed;

  td:first-child,
  th:first-child {
    width: 60%;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 7%;
    white-space: nowrap;
  }


  td:last-child,
  th:last-child {
    width: 33%;
  }
}
