.wp-block-research-table {
  width: 100%;
  table-layout: fixed;

  /*Authors*/
  td:first-child,
  th:first-child {
    width: 25%;
  }

  /*Year*/
  td:nth-child(2),
  th:nth-child(2) {
    width: 5%;
    white-space: nowrap;
  }

  /*Title*/
  td:nth-child(3),
  th:nth-child(3) {
    width: 50%;

  }

  /*Journal*/
  td:last-child,
  th:last-child {
    width: 20%;
    padding-right: 0.4rem;
  }
}

.publication-journal {
  font-style: italic;
}